<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">家計簿アプリ</div>
    <div>
      <% if session[:user_id]==nil%>     
      <%= link_to "会員登録",signup_path, class:"btn btn-outline-secondary" %>
      <% else %>
      <%= link_to "ログアウト",signout_path, class:"btn btn-outline-secondary" %>
      <%= link_to "登録内容更新",edit_user_path, class:"btn btn-outline-secondary" %>
      <% end%>
    </div>
  </nav>

    <% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
    <%= flash[:notice]%>
    </div>
    <% end%>

    <% if flash[:alert]%>
    <div class="alert alert-danger" role="alert">
      <!-- 恐らくturbo_streamが影響してうまく表示できない。 -->
      <%= flash[:alert]%>
    </div>    
    <% end%>
    <%= yield %>
  </body>
</html>
